@model IEnumerable<HotelsApiClient.HotelResource>

@{
    ViewData["Title"] = "Hotels";
}

<div class="text-center">
    <h1 class="display-4">Hotels</h1>
</div>

<table id="hotelsTable" class="table display" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                City
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.City
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#hotelsTable").DataTable();
        });
    </script>
}
